<p id="notice"><%= notice %></p>
<h1>HELLO RAILS</h1>

<h2>Struture colums</h2>
<% @query.structure_columns.each do |c| %>
  <p>
    <b>column name:</b>
    <%= c %>
  </p>

<% end %>

<%= link_to 'Back', structures_path %>
